<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Daum 지도 시작하기</title>
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28e0b94747531cb0e73e522d9cf18a60"></script>
	<script>
	//위치 정보를 가져왔을 때 카카오 지도를 출력
		navigator.geolocation.getCurrentPosition(function(position){
			var container = document.getElementById('map');
			var options = {
				center: new daum.maps.LatLng(position.coords.latitude, position.coords.longitude),
				level: 3
			};

			var map = new daum.maps.Map(container, options);
			
			// 마커가 표시될 위치입니다.
			var markerPosition = new daum.maps.LatLng(
					position.coords.latitude,
					position.coords.longitude);

			//마커를 생성합니다.
		    var marker = new daum.maps.Marker({
				position: markerPosition
			});
			
			//마커가 지도 위에 표시되도록 설정합니다.
			marker.setMap(map);
		}), function(error){
			alert(error.message)
		}
	</script>
</body>
</html>