<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>추가된 Input Type</title>
</head>
<body>
<form action="result.jsp">
        <!-- 필수 속성 지정 정규식 패턴 적용 : 숫자 4자리 -->
      <input type="text" size="30" reauired="required" pattern="[0-9]{4}"/><br />
      <!--  이메일 주소 형식 검사를 수행 -->
      <input type="email" size="30" placeholder="email을 입력하세요" 
       list=emaillist/> 
         <datalist id="emaillist">
         <option value="wjsun1004@naver.com" />
         <option value="wjsun1004@naver.com" />
         <option value="wjsun1004@naver.com" />
      </datalist>
      <br/>
      
      <input type="number" size="20" autofocus /><br />
      <!-- IE에서는 동작을 안하기도 합니다. -->
      <input type="date" /><br />
      <input type="submit" size="전송" />
      
</form>
</body>
</html>