<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CSS 속성</title>

<link rel="stylesheet" href="../css/typography.css">


<!-- 내부스타일 시트 설정 -->
<style>
body{
background-repeat:no-repeat;
}

</style>

</head>

<body background="../images/2222.jpg">

<p class="shadow">Black Panther</p>


<!-- 텍스틑는 p 태그에 작성
div 태그나 span 태그에 만들기도 합니다. 
css 는 특별한 경우가 아니면 class단위로 적용합니다
javascript는 id 단위로 작업하는 경우가 많습니다.-->
<p class="font">타이포그라피는 텍스트에 대한 모양 설정을 의미합니다.
<br/>일반적인 텍스트는 paragraph의 약자인 p 태그에 작성합니다.</p>

<!-- 일반적으로 inline 요소는 너비를 설정하지 않으면 콘텐츠가 있는 곳만 영역이 설정 -->
<span class="inline">인라인 요소에 텍스트를 입력</span>


<p>물의 화학식은 H<span class="sub">2</span>O 이고 
10<span class="super">2 </span>는 100입니다.</p>

<p><img src="../images/black.jpg" class="img" width="200" height="200"/>
이미지 주위의 텍스트 배치</p>


</body>
</html>