<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>멀티미디어 재생</title>
</head>
<body>
    <!--  
    <video src="../resources/IPhone3G.mov" width="320" height="320" loop="loop" controls="controls" poster="http://www.hidomin.com/news/photo/201902/381111_168586_410.jpg"></video>
     -->
     
     <video width="320" height="320" 
     loop="loop" 
     controls="controls" 
     poster="http://www.hidomin.com/news/photo/201902/381111_168586_410.jpg" autoplay muted>
    <!-- autoplay muted - 자동재생 -->



     <!-- 첫번째 파일을 재생할 수 있으면 재생하고 재생하지 못하면 이래 파일을 재생 -->
     <source src ="../resources/Painting.mp4" />
     <source src ="../resources/IPhone3G.mov" />



</video>
</body>
</html>